<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/stylesheets/controller.css" rel="stylesheet" />
  </head>
  <body>
    <div id="controller">
      <select name="" id="champSelect">
        <option value="" selected>챔피언 선택..</option>
      </select>
      <button id="champSelectBtn">확인</button>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/controller.js"></script>
</html>
