<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Champion Upload</title>

    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div id="addChamp">
        <h2>챔피언 등록</h2>
        <input
          type="text"
          name="champName"
          id="champName"
          placeholder="챔피언 이름 입력.."
        />

        <div id="output">
          <div class="imgWrap">
            <img src="/images/file_upload.svg" alt="" id="previewImg" />
          </div>

          <input
            type="file"
            name="champThumb"
            id="champThumb"
            style="display: none"
          />
        </div>

        <input type="submit" value="등록" id="addChampBtn" />
      </div>
    </section>
    <div class="textLink"><a href="/">Add Champion</a></div>
    <div class="textLink"><a href="/controller">CG Control</a></div>
    <div class="textLink"><a href="/view">CG VIEW</a></div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
