@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('http://fonts.cdnfonts.com/css/clash-display');

body {
  font-family: 'Clash Display', 'GmarketSansMedium', -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  margin: 0;
}

select {
  width: 100px;
}

#controller {
  width: calc(100%-2rem);
  height: calc(100%-2rem);
  padding: 2rem;
}

.layoutConfig {
  text-align: center;
}

#pickban {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#pickban .team {
  height: 200px;
}

#pickban .team .picks,
#pickban .team .bans {
  display: flex;
  gap: 5px;
}

#pickban .red.team .bans {
  justify-content: end;
}

#pickban .team .picks div {
  width: 100px;
  height: 100px;
}
#pickban .team .picks .pick {
  top: -100px;
  position: relative;
  transition: 0.2s all ease-in;
  color: transparent;
}
#pickban .team .picks .back {
  background-color: lightslategray;
}

#pickban .team .bans {
  margin-top: 30px;
}

#pickban .team .bans div {
  width: 70px;
  height: 70px;
}

#pickban .team .bans .ban {
  top: -70px;
  transition: 0.2s all ease-in;
  position: relative;
  color: transparent;
}

#pickban .team .bans .back {
  background-color: lightcoral;
}

#pickban .team .picks .pick:hover,
#pickban .team .bans .ban:hover {
  cursor: pointer;
  backdrop-filter: brightness(60%);
}
#pickban .team .picks .pickGroup div,
#pickban .team .bans .banGroup div {
  border-radius: 15px;
}

#display {
  display: flex;
}
#display .previewDiv {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  height: 0;
  scale: 0.5;
}

iframe {
  position: absolute;
  top: 100px;
  left: 20%;
  width: 50%;
  height: 50%;
  border: 50px solid #8c8c8c;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  transition: 0.3s all ease-in;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}
.modal.hide {
  display: hidden;
}

.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 410px;
  height: 600px;
  padding: 40px;

  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);

  font-size: 1.5rem;
}

.modalBody .champs {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  height: 500px;
  align-content: flex-start;
  overflow-y: scroll;
}

.modalBody .champs::-webkit-scrollbar {
  width: 10px;
}

.modalBody .champs::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 10px;
}

.modalBody .champs::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.champSelectBtn {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: 0.2s all ease;
}

.champSelectBtn:hover {
  background-blend-mode: normal;
  cursor: pointer;
}
