@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('http://fonts.cdnfonts.com/css/clash-display');

body {
  font-family: 'Clash Display', 'GmarketSansMedium', -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  padding: 50px;
  margin: 0;
}

#addChamp {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  text-align: center;
}

#addChamp input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#addChamp input[type='text'] {
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.3rem;
}

#addChamp input[type='submit'] {
  font-size: 1.5rem;
  width: 25%;
  align-self: center;
  margin-top: 2.5rem;
}

#addChamp label {
  text-align: center;
  font-size: 1.5rem;
}

#addChamp label[for='champThumb'] {
  background-color: black;
  color: white;
  transition: all 0.1s ease-in;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}

#addChamp label[for='champThumb']:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#previewImg {
  margin: 0 auto;
  object-fit: cover;
  height: 100%;
}

#output {
  border-radius: 20px;
  min-height: 200px;
  border: 2px solid black;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imgWrap {
  overflow: hidden;
  margin: 0 auto;
  height: 200px;
  cursor: pointer;
  opacity: 100%;
  transition: 0.1s all ease-in;
}

.imgWrap:hover {
  opacity: 30%;
}
