body {
  font-family: 'Clash Display', 'GmarketSansMedium', -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  margin: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

#pickban {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  bottom: 200px;
}

#pickban .team {
  height: 200px;
}

#pickban .team .picks,
#pickban .team .bans {
  display: flex;
  /* gap: 5px; */
}

#pickban .red.team .bans {
  justify-content: end;
}

#pickban .team .picks div {
  width: 150px;
  height: 150px;
}

#pickban .team .picks .pick {
  top: -150px;
  position: relative;
  transition: 0.2s all ease-in;
  color: transparent;
}

#pickban .team .picks .back,
#pickban .team .bans .back {
  background-color: transparent;
}

#pickban .team .bans {
  margin-top: 30px;
}

#pickban .team .bans div {
  width: 70px;
  height: 70px;
}

#pickban .team .bans .ban {
  top: -70px;
  transition: 0.2s all ease-in;
  position: relative;
  color: transparent;
}
